
h1 {
color: aqua;
}

* {
    border: solid;

}
.header{
    background-color: rgb(0, 255, 34);
    display:flex;
    justify-content: space-between;
}

.site-description{
    display: flex;
    background-color: rgb(0, 26, 255);
    flex-direction: column;
    justify-content: first baseline;
}

.grid{
    display: flex;
    background-color: rgb(255, 81, 0);
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer{
    display: flex;
    background-color: rgb(0, 255, 242);
    justify-content:space-between;
}

p,h2{
    text-align: center;
    background-color: rgb(255, 251, 0);
}